In [141]:
import pandas as pd
# loading the dataset
df =pd.read_csv("./data/owid-covid-data.csv")
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN

#### check total, mean,standard deviation,lower quartile,median,upper quartile and the max of the individual columns

In [134]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
total_cases,411804.0,7.365292e+06,4.477582e+07,0.0000,6280.750000,6.365300e+04,7.582720e+05,7.758668e+08
new_cases,410159.0,8.017360e+03,2.296649e+05,0.0000,0.000000,0.000000e+00,0.000000e+00,4.423623e+07
new_cases_smoothed,408929.0,8.041026e+03,8.661611e+04,0.0000,0.000000,1.200000e+01,3.132860e+02,6.319461e+06
total_deaths,411804.0,8.125957e+04,4.411901e+05,0.0000,43.000000,7.990000e+02,9.574000e+03,7.057132e+06
new_deaths,410608.0,7.185214e+01,1.368323e+03,0.0000,0.000000,0.000000e+00,0.000000e+00,1.037190e+05
...,...,...,...,...,...,...,...,...
population,429435.0,1.520336e+08,6.975408e+08,47.0000,523798.000000,6.336393e+06,3.296952e+07,7.975105e+09
excess_mortality_cumulative_absolute,13411.0,5.604765e+04,1.568691e+05,-37726.0980,176.500005,6.815199e+03,3.912804e+04,1.349776e+06
excess_mortality_cumulative,13411.0,9.766431e+00,1.204066e+01,-44.2300,2.060000,8.130000e+00,1.516000e+01,7.808000e+01
excess_mortality,13411.0,1.092535e+01,2.456071e+01,-95.9200,-1.500000,5.660000e+00,1.557500e+01,3.782200e+02
excess_mortality_cumulative_per_million,13411.0,1.772666e+03,1.991893e+03,-2936.4531,116.872242,1.270801e+03,2.883024e+03,1.029351e+04

#### check the number of rows and columns in the dataset

In [135]:
df.shape

(429435, 67)

In [136]:
df.value_counts

<bound method DataFrame.value_counts of        iso_code continent     location        date  total_cases  new_cases  \
0           AFG      Asia  Afghanistan  2020-01-05          0.0        0.0
1           AFG      Asia  Afghanistan  2020-01-06          0.0        0.0
2           AFG      Asia  Afghanistan  2020-01-07          0.0        0.0
3           AFG      Asia  Afghanistan  2020-01-08          0.0        0.0
4           AFG      Asia  Afghanistan  2020-01-09          0.0        0.0
...         ...       ...          ...         ...          ...        ...
429430      ZWE    Africa     Zimbabwe  2024-07-31     266386.0        0.0
429431      ZWE    Africa     Zimbabwe  2024-08-01     266386.0        0.0
429432      ZWE    Africa     Zimbabwe  2024-08-02     266386.0        0.0
429433      ZWE    Africa     Zimbabwe  2024-08-03     266386.0        0.0
429434      ZWE    Africa     Zimbabwe  2024-08-04     266386.0        0.0

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
0                      NaN           0.0         0.0                  NaN
1                      NaN           0.0         0.0                  NaN
2                      NaN           0.0         0.0                  NaN
3                      NaN           0.0         0.0                  NaN
4                      NaN           0.0         0.0                  NaN
...                    ...           ...         ...                  ...
429430                 0.0        5740.0         0.0                  0.0
429431                 0.0        5740.0         0.0                  0.0
429432                 0.0        5740.0         0.0                  0.0
429433                 0.0        5740.0         0.0                  0.0
429434                 0.0        5740.0         0.0                  0.0

        ...  male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0       ...           NaN                  37.746                         0.5
1       ...           NaN                  37.746                         0.5
2       ...           NaN                  37.746                         0.5
3       ...           NaN                  37.746                         0.5
4       ...           NaN                  37.746                         0.5
...     ...           ...                     ...                         ...
429430  ...          30.7                  36.791                         1.7
429431  ...          30.7                  36.791                         1.7
429432  ...          30.7                  36.791                         1.7
429433  ...          30.7                  36.791                         1.7
429434  ...          30.7                  36.791                         1.7

        life_expectancy  human_development_index  population  \
0                 64.83                    0.511    41128772
1                 64.83                    0.511    41128772
2                 64.83                    0.511    41128772
3                 64.83                    0.511    41128772
4                 64.83                    0.511    41128772
...                 ...                      ...         ...
429430            61.49                    0.571    16320539
429431            61.49                    0.571    16320539
429432            61.49                    0.571    16320539
429433            61.49                    0.571    16320539
429434            61.49                    0.571    16320539

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                        NaN                          NaN
1                                        NaN                          NaN
2                                        NaN                          NaN
3                                        NaN                          NaN
4                                        NaN                          NaN
...                                      ...                          ...
429430                                   NaN                          NaN
429431                                   NaN                          NaN
429432                                   NaN                          NaN
429433                                   NaN                          NaN
429434                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
0                    NaN                                      NaN
1                    NaN                                      NaN
2                    NaN                                      NaN
3                    NaN                                      NaN
4                    NaN                                      NaN
...                  ...                                      ...
429430               NaN                                      NaN
429431               NaN                                      NaN
429432               NaN                                      NaN
429433               NaN                                      NaN
429434               NaN                                      NaN

[429435 rows x 67 columns]>

In [137]:
df.isnull()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,False,False,False,False,False,False,True,False,False,True,...,True,False,False,False,False,False,True,True,True,True
1,False,False,False,False,False,False,True,False,False,True,...,True,False,False,False,False,False,True,True,True,True
2,False,False,False,False,False,False,True,False,False,True,...,True,False,False,False,False,False,True,True,True,True
3,False,False,False,False,False,False,True,False,False,True,...,True,False,False,False,False,False,True,True,True,True
4,False,False,False,False,False,False,True,False,False,True,...,True,False,False,False,False,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429430,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
429431,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
429432,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
429433,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
429434,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True

In [138]:
# drop null values
df.ffill()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429430,ZWE,Africa,Zimbabwe,2024-07-31,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,65208.2,11.11,23.16,1854.4052
429431,ZWE,Africa,Zimbabwe,2024-08-01,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,65208.2,11.11,23.16,1854.4052
429432,ZWE,Africa,Zimbabwe,2024-08-02,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,65208.2,11.11,23.16,1854.4052
429433,ZWE,Africa,Zimbabwe,2024-08-03,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,65208.2,11.11,23.16,1854.4052
429434,ZWE,Africa,Zimbabwe,2024-08-04,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,65208.2,11.11,23.16,1854.4052

In [147]:


import numpy as np

for col in df.select_dtypes(include=np.number).columns:
    df[col].fillna(df[col].mean(), inplace=True)
df.isna().sum()

most_frequent_continent = df['continent'].mode()[0]

df['continent'].fillna("Unknown", inplace=True)

/tmp/ipykernel_10439/921697344.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)
/tmp/ipykernel_10439/921697344.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['continent'].fillna("Unknown", inplace=True)

In [148]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,8041.025775,0.0,0.0,72.060873,...,33.097723,37.746,0.5,64.83,0.511,41128772,56047.6535,9.766431,10.925353,1772.6664
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,8041.025775,0.0,0.0,72.060873,...,33.097723,37.746,0.5,64.83,0.511,41128772,56047.6535,9.766431,10.925353,1772.6664
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,8041.025775,0.0,0.0,72.060873,...,33.097723,37.746,0.5,64.83,0.511,41128772,56047.6535,9.766431,10.925353,1772.6664
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,8041.025775,0.0,0.0,72.060873,...,33.097723,37.746,0.5,64.83,0.511,41128772,56047.6535,9.766431,10.925353,1772.6664
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,8041.025775,0.0,0.0,72.060873,...,33.097723,37.746,0.5,64.83,0.511,41128772,56047.6535,9.766431,10.925353,1772.6664

In [146]:
df.isna().sum()

iso_code                                       0
continent                                  26525
location                                       0
date                                           0
total_cases                                    0
                                           ...
population                                     0
excess_mortality_cumulative_absolute           0
excess_mortality_cumulative                    0
excess_mortality                               0
excess_mortality_cumulative_per_million        0
Length: 67, dtype: int64

In [152]:

df.describe().T

,count,mean,std,min,25%,50%,75%,max
total_cases,429435.0,7.365292e+06,4.384702e+07,0.0000,7034.000000,7.501500e+04,1.064237e+06,7.758668e+08
new_cases,429435.0,8.017360e+03,2.244512e+05,0.0000,0.000000,0.000000e+00,0.000000e+00,4.423623e+07
new_cases_smoothed,429435.0,8.041026e+03,8.452280e+04,0.0000,0.000000,1.657100e+01,5.291430e+02,6.319461e+06
total_deaths,429435.0,8.125957e+04,4.320384e+05,0.0000,53.000000,9.400000e+02,1.371900e+04,7.057132e+06
new_deaths,429435.0,7.185214e+01,1.337992e+03,0.0000,0.000000,0.000000e+00,0.000000e+00,1.037190e+05
...,...,...,...,...,...,...,...,...
population,429435.0,1.520336e+08,6.975408e+08,47.0000,523798.000000,6.336393e+06,3.296952e+07,7.975105e+09
excess_mortality_cumulative_absolute,429435.0,5.604765e+04,2.772066e+04,-37726.0980,56047.653500,5.604765e+04,5.604765e+04,1.349776e+06
excess_mortality_cumulative,429435.0,9.766431e+00,2.127729e+00,-44.2300,9.766431,9.766431e+00,9.766431e+00,7.808000e+01
excess_mortality,429435.0,1.092535e+01,4.340173e+00,-95.9200,10.925353,1.092535e+01,1.092535e+01,3.782200e+02
excess_mortality_cumulative_per_million,429435.0,1.772666e+03,3.519915e+02,-2936.4531,1772.666400,1.772666e+03,1.772666e+03,1.029351e+04

In [153]:
df.to_csv("./data/cleaned_owid-covid-data.csv", encoding='utf-8', index=False, header=True)